* {
    margin: 0%;
    padding: 0%;
}
@media screen and (max-width: 600px) {
  .related-work {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
.container {
    width: 100%;
    height: auto;
}
.heading {
  width: 100%;
  text-align: right;
  border-bottom: 4px solid #7d97ad;
  margin-bottom: 2.7vw ;
}
.name{
  width:100%;
  font-family: "GothamThin";
  padding: 1% 0 0 0;
  font-size: 6.1vw;
  color: #2d3c49;
}
.title{
  width: 100%;
  font-size: 2.2vw;
  color: #2d3c49;
  font-family: "GothamBook";
}
#udacity-img{
  float: left;
  width: 12%;
}
.center{
  width: 100%;
  height: auto;
}
.main-img {
  width: 100%;
}
.featured-work{
  width: auto;
  font-size: 3.8vw;
  color:#7d97ad;
  font-family: "GothamBook";
  margin: 4.5vw 0 1.0vw 1.1vw;
}
.bottom{
  width: 100%;
}

.work-title {
  width: 100%;
  margin: 1% 0 2% 0;
  font-size: 4.0vw;
  color: #2d3c49;
  font-family: "GothamBook";
  text-align: center;
}
.related-work{
    float: left;
    align-content: center;
    width: 30.53%;
    margin: 0 2.6vw 0 0;
    text-align: center;
}
.related-work a{
	text-decoration:none;
	font-size: 1.5vw;
	font-family: "GothamBook";
	color:#2d3c49;
}
.related-work img {
    width: 100%;
    margin: 0 2.6vw 0 0;
}
.related-work h4.title{
  font-size: 4.0vw;
  color: #2d3c49;
  font-family: "GothamBook";
  text-align: center;
}
